.item {
    background-color: #f1f1f5;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 6px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 60% 80px 40px;
    grid-gap: 10px;
    grid-auto-rows: minmax(70px,auto);
}

.item__id {
    font-size: 14px;
    color: #515151bf;
}

.prices {

}

.newPrice {
    font-weight: 700;
}

.oldPrice {
    text-decoration: line-through;
}

.priceDown {
    color: #7fb70d;
}

.priceUp {
    color: brown;
}

.removeOne {
    cursor: pointer;
}

.removeOne svg {
    fill: #d280d2
}

.removeOne svg:hover {
    fill: #5b085b
}

.wrapper__button {
    width: 60px;
}

.added_button__loading {
    height: 30px;
    width: 30px;
    border: 3px solid #BFC0C5;
    border-radius: 50%;
    border-left-color: #cb11ab;
    animation: rotation 1.5s linear infinite;
}

.added_form__button {
    padding-left: 10px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}